<div class="side-card">
      <h1>Navigation</h1>
      <nav class="sidebar-link-box">
      <p>Você está vendo <strong>{{page.category | capitalize}}</strong>.</p>
       <hr> 
      <a href="{{site.baseurl}}/pages/all-{{page.category}}s/">Ver índice de {{page.category | capitalize}} </a>
      <br>
      <a href="{{site.baseurl}}/pages/tags#{{page.category}}">Ver {{page.category | capitalize}} Por Tags</a>
      <br>
      <a href="{{site.baseurl}}/pages/archive/">Ver arquivo completo.</a>
      <br>
      <a href="/">Go Home</a>
<hr>

      </nav>
    </div>  