<div class="sidebar-card profile">
    <div class="profile">
      <a href="{{ site.data.user.profile_link }}" | absolute_url }}">
      <img class="profile-pic" src="{{ site.baseurl }}/{{ site.data.user.profile_pic }}" alt="">
      </a>
        <a class="silent-link" href="{{ site.data.user.profile_link }}" | absolute_url }}">
            <h1 class="user-name silent-link">{{ site.data.user.user_name }}</h1>
        </a>
</div>
  <div class="sidebar-link-box profile">
      <a href="/pages/articles">Artigos</a>
      <a href="/pages/journal">Posts</a>
      <a href="/pages/all-wiki">Notas</a>
    </div>
      <div class="sidebar-link-box profile">
      <a href="/pages/latest">Mais Recentes</a>
      <a href="/pages/archive">Arquivo</a>
      <a href="/pages/tags">Tags</a>
      <a href="/pages/library">Biblioteca</a>
    </div>
  </div>